# LINE Messaging API Credentials
# 請至 LINE Developers Console (https://developers.line.biz/) 的 Channel 頁面取得
LINE_CHANNEL_ACCESS_TOKEN=your_channel_access_token_here
LINE_CHANNEL_SECRET=your_channel_secret_here

# 服務埠號
PORT=8000
